$primary-font-family: 'Titillium Web', sans-serif;
$primaryColor: #FDBF2F;
$secondaryColor: #484848;
$secondaryLightColor: #484848;
$tertiaryColor: #383f48;
$darkColor: #484848;
$pgBlackColor:#131417;
$whiteColor: #FFFFFF;
$borderColor: #E6E6E6;
$bgColor: #F2F2F5;
$box-shadow-primary: 0px 3px 10px 0px rgba(0 0 0 /5%);

$btn-bg-color-web-account: #3c4041;
